<h1><%= "Your planned vacation to #{@vacation.destination.name}"%></h1>
<div class="vaca-info">
    <h2> Dates: <%= "#{@vacation.month_start} #{@vacation.day_start}, #{@vacation.year_start}" %> to <%= "#{@vacation.month_end} #{@vacation.day_end}, #{@vacation.year_end}" %> </h2>
    <p class="flight-change"><%= link_to "Add departure flight", add_flight_path %></p>
    <p class="flight-change"><%= link_to "Add return flight", add_flight_path %></p>

<% if @vacation.departure_flight %>
    <% flash[:vacation_id] = @vacation.id %>
    <p> Your flight to <%= @vacation.destination.name %> departs at <%= @vacation.departure_flight.departure_time %> and arrives at <%= @vacation.departure_flight.destination_airport%> at <%= @vacation.departure_flight.arrival_time %> </p>
    <p> <%= button_to "Delete this Flight", "/flights/#{@vacation.departure_flight.id}/destroy_departure", method: "delete" %> </p>
<% end %>
<% if @vacation.arrival_flight %>
    <% flash[:vacation_id] = @vacation.id %>
    <p> Your return flight from <%= @vacation.destination.name %> leaves at <%= @vacation.arrival_flight.departure_time %> and arrives at <%= @vacation.arrival_flight.arrival_time %> </p>
    <p> <%= button_to "Delete this Flight", "/flights/#{@vacation.arrival_flight.id}/destroy_arrival", method: "delete" %> </p>
<% end %>

<h2>General information about <%= @vacation.destination.name%></h2>

<p>Language: <%=@vacation.destination.language%></p>
</div>

<div class="paragraph-container">
<p class="paragraph"><%= @vacation.destination.description %></p>
</div>

<div class="list">
    <h5>Highlights</h5>
        <ul>
        <% @vacation.destination.highlights_to_hash.each do |key, value|%>
            <li><%= link_to key, value, :target => '_blank'%></li>
        <% end %>
        </ul>
</div>

<div class="vaca-info">
<h3>Activities</h3>
<% if @vacation.activities.size > 0 %>
    <ul>
        <% @vacation.activities.each do |activity| %>
            <li> <%= activity.name %>, price: $<%= activity.price %> <%= button_to "Delete", delete_activity_path(VacationActivity.find_by(activity: activity)), method: "delete" %> </li>
        <% end %>
    </ul>
<% end %>

<%= link_to "Add an Activity", find_activity_path %>
</div>

<div class="delete-button">
    <p> <%= link_to "Back to Homepage", user_path(current_user) %>
    <%= button_to "Delete this Vacation", delete_vacation_path(@vacation), {:class => "delete-button-class", :method => "delete"} %>
</div>