<h1><%= "Your planned vacation to #{@vacation.destination.name}"%>
<p><%= link_to "Add departure flight", add_flight_path %></p>
<p><%= link_to "Add return flight", add_flight_path %></p>

<%= @vacation.departure %>



<h2>General information about <%= @vacation.destination.name%></h2>

<p>Language: <%=@vacation.destination.language%></p>

<p><%= @vacation.destination.description %></p>

<p>Highlights: <%= @vacation.destination.highlights%></p>

<%= button_to "delete this vacation", delete_vacation_path(@vacation), method: "delete" %>
