<div class="login">
    <h1> Welcome to VacationPlanner! <h1>
    <h2> Plan a getaway from the Big Apple <h2>
</div>

<h3 class="login">Login</h3>

<%= render "/shared/errors" %>

<div class="login-form">
<%= form_tag "handle_login" do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <br>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br>
    <div id="login-button">
        <%= submit_tag "Login", :class => "submit_button" %>
    </div>
<% end %>
</div>
<div id="login-button">
<%= link_to "create a new account", new_user_path %>
</div>