<h1> <%= "Hello #{@current_user.name}" %> </h1>

<p>What would you like to do?</p>
<p><%= link_to "Plan a new vacation", new_vacation_path%></p>
<p><%= link_to "Edit your user information", edit_user_path(@current_user)%></p>
<p><%= link_to "Edit your password", edit_password_path(@current_user)%></p>

<%if current_user.vacations.size > 0%>
    <h2>Your Vacations</h2>
<%end%>

<ol>
<%@current_user.vacations.each do |vaca|%>
    <li> <%= link_to vaca.destination.name, vacation_path(vaca)%> </li>
<% end %>
</ol>

<%= button_to "Logout", logout_path, method: "delete"%>

