<h1><%= @destination.name%> Info Page </h1>

<p class="language">Language: <%=@destination.language%></p>

<div class="paragraph-container">
    <p class="paragraph"><%= @destination.description %></p>
    <p class="paragraph">Highlights: <%= @destination.highlights%></p>
</div>

<div class="list">
<h3> Activities </h3>
<ul> 
    <% @destination.activities.each do |activity| %>
        <li> <%= activity.name %> - Cost: <%= activity.price %> </li>
    <% end %>
</ul>
</div>

<div class="back-button">
<p> <%= link_to "Book this Vacation", new_vacation_path %></p>
<% flash[:destination] = @destination.id %>
    <%= link_to "Go back to Destinations Page", destinations_path%>
</div>

